<div class="container-fluid">

    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <div class="row">
                <h6 style="display:inline;margin-top:15px;">Powered by</h6>
                <img src="../assets/sasLogo.png" style="height:50px;width:50px; display:inline;margin-left:5px;">
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <img src="../assets/Combined Shape.png" style="height:30px;width:30px; margin:10px;">
                <h1>Time to Fly</h1>
            </div>

            <span class="example-fill-remaining-space"></span>
            <div class="row">


                <h6 style="margin-bottom:30px; padding-left:55px;">Never miss a flight again</h6>



            </div>
        </div>
        <div class="col-1"></div>






    </div>


</div>

<app-forms></app-forms>